body {
  background: #fff;
  color: #798a9a;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
}

/* start of timeline */

* {
  box-sizing: border-box;
}

.tl {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.tl::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #ff9f55;
  top: 0;
  bottom: 0;
  left: 2%; /* Adjust this value if the circles are not perfectly aligned */
  transform: translateX(-50%);
}

.tl-container {
  padding: 10px 20px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.tl-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  background-color: #fff;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.tl-content {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tl-content p {
  text-align: left;
}

@media (max-width: 600px) {
  .tl::after {
    left: 15px; /* Adjust the line closer to the edge for small screens */
  }

  .tl-container {
    padding-left: 25px; /* Give more room on the left for the content */
    padding-right: 25px; /* Consistent padding on the right */
  }

  .header {
    flex-direction: column; /* Stack the header elements vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .header h6.date {
    order: -1; /* Moves the date above the h5 */
    width: 100%; /* Full width for the date */
    text-align: left; /* Align the date to the left */
    margin-bottom: 5px; /* Space between the date and the title */
  }

  .tl-content p {
    text-align: left;
  }
}

/*badges*/

.badgePR i {
  color: purple; /* Change color according to your design */
  margin-right: 10px; /* Space between icon and text */
}
.badge i {
  color: red; /* Change color according to your design */
  margin-right: 5px; /* Space between icon and text */
}

/* end of timeline */

.special-btn .btn {
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 0px;
  min-height: 5px;
  min-width: 60px;
  border-width: 2px;
}
.special-btn .btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  color: #fff;
  background: #17a2b8;
  border-color: #17a2b8;
  border-radius: 100px;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: #17a2b8;
  border-color: #17a2b8;
}

/*
code for creating a button
.special-btn > a{
}
.special-btn > a:hover{
}
.special-btn > a:active{
}
.special-btn .mybtn {
    font-size: 15px;
    font-weight: 500;
    top:50%;
    background-color:white;
    color: blue;
    border-color: blue;
    border-radius:10px;
    padding: 0px;
    min-height: 5px; 
    min-width: 60px;
}

.special-btn .mybtn:hover {
      background-color:blue;
      color: white;
      border-color: blue;
      transition: 0.7s;
  }

.special-btn .mybtn:focus {
    background-color:#ffbf00;
    color: blue;
    border-color: blue;
  }

.special-btn .mybtn:active {
      background-color:#ffbf00;
    color: blue;
    border-color: blue;
  }
*/

.p1-gradient-bg,
.thumb .overlay-bg {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.p1-gradient-color {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #2c3e50;
  font-weight: 200;
}

a {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #1772d0;
  /*color: #ff9f55;*/
}
a:hover,
a:focus,
a:active {
  color: #ff9f55;
  text-decoration: none;
}

html {
  overflow-y: scroll; /* Always shows the vertical scrollbar */
}
.site-navbar {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  border-radius: 0px;
  position: fixed;
  top: 0px;
  left: 0; /* Ensure it covers the full width */
  right: 0;
  width: 100%;
  z-index: 200;
}

.site-navbar .navbar-brand {
  display: inline-block;
  border: 2px solid black;
  padding: 5px 20px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-navbar .navbar-brand:hover {
  color: black;
}

.site-navbar .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em; /* consolidated the letter-spacing */
  position: relative;
  text-transform: uppercase;
  padding: 15px 20px; /* moved from separate class */
}

.site-navbar .navbar-nav > li > a.active,
.site-navbar .navbar-nav > li > a.hover {
  /* combined hover and active for simplicity */
  color: #ff9f55 !important; /* consistent color for active or hover state */
}

.site-navbar.scrolled {
  background: #fff;
}

.site-navbar.scrolled .navbar-brand,
.site-navbar.scrolled .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.7); /* Ensure consistency */
}

@media (max-width: 991.98px) {
  .site-navbar .navbar-brand {
    font-size: 18px; /* Responsive font size */
    padding: 2px 10px;
  }

  .site-navbar .navbar-nav > li > a {
    padding: 10px 15px; /* Smaller padding on mobile */
  }
}

.site-section {
  margin-top: 70px;
  padding: 2.5em 0;
}

.site-hero {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.site-hero,
.site-hero .row {
  height: 100vh;
  min-height: 800px;
}
.site-hero:before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.site-hero h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
}
.site-hero h1 strong {
  font-weight: 800;
}
@media (min-width: 768px) {
  .site-hero h1 {
    font-size: 70px;
  }
}
.site-hero h1,
.site-hero .lead {
  font-weight: 200;
  color: #fff;
}
.site-hero .lead {
  line-height: 2;
}
.site-hero .site-subheading {
  max-width: 640px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}

.section-heading {
  margin-bottom: 0px;
  position: relative;
  z-index: 10;
}
.section-heading h2 {
  position: relative;
  font-weight: 200;
  padding-top: 20px;
  font-size: 30px;
}
.section-heading h2 strong {
  font-weight: 800;
}
.section-heading h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 50px;

  /* background: #57d131; */
  background: #ff9f55;
  z-index: -1;
}
.section-heading.text-center h2:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.timezone {
  font-family: monospace;
}
.lead h3,
h4 {
  text-align: justify;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
.lead h5 {
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.site-service-item .icon {
  display: block;
  margin-bottom: 50px;
  background: #edf0f2;
  /* background: #57d131; */
  background: #ff9f55;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}
.site-service-item .icon span {
  font-size: 40px;
  color: #080b0e;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.site-service-item h3 {
  font-size: 20px;
  font-weight: 200;
}

.site-link {
  position: relative;
}
.site-link i {
  position: relative;
  top: 2px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-link:hover i {
  position: relative;
  margin-left: 20px;
}

.site-list {
  padding: 0;
  margin: 0;
}
.site-list li {
  margin: 0 0 5px 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.site-list li:before {
  font-family: 'Verdana';
  position: absolute;
  top: 0.1em;
  left: 0;
}
.site-list li.site-check {
  padding-left: 30px;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
.site-list li.site-check:before {
  /* color: #57d131; */
  color: #ff9f55;
  font-size: 15px;
  content: '\ebd3';
}

.filters {
  text-align: center;
}
.filters ul {
  padding: 0;
  margin: 0 0 30px 0;
}
.filters ul li {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.filters ul li:hover {
  color: #57d131;
}
.filters ul li.active {
  color: #57d131;
}

.single-portfolio {
  margin-bottom: 50px;
  display: block;
}
.single-portfolio .relative {
  margin-bottom: 20px;
}
.single-portfolio .p-inner {
  text-align: center;
}
.single-portfolio .p-inner h4 {
  font-size: 20px;
}
.single-portfolio .p-inner .cat {
  font-size: 12px;
  text-transform: uppercase;
  color: #cccccc;
}

/*--------- #57d131 Start Portfolio Area -------------*/
.portfolio-area .primary-btn {
  color: #fff;
  background-color: #57d131;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-area .filters {
  text-align: center;
}

.portfolio-area .filters ul {
  padding: 0;
}

.portfolio-area .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 18px 15px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 736px) {
  .portfolio-area .filters ul li {
    padding: 6px 6px;
  }
}

.portfolio-area .filters ul li:after {
  content: '';
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #333;
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out;
}

.portfolio-area .filters ul li:hover:after {
  width: calc(100% - 60px);
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out;
}

.portfolio-area .filters ul li.active {
  color: #57d131;
}

.portfolio-area .filters-content {
  margin-top: 50px;
}

.portfolio-area .filters-content .show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.portfolio-area .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.portfolio-area .filters-content .item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.portfolio-area .filters-content .item img {
  border-radius: 10px;
}

.portfolio-area .filters-content .p-inner {
  padding: 20px 0px;
  text-align: center;
}

.portfolio-area .filters-content .item .p-inner .cat {
  font-size: 13px;
}

.portfolio-area .filters-content .item img {
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.middle {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.single-portfolio:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  padding: 16px 32px;
}

.single-portfolio {
  border-radius: 5px;
}
.single-portfolio:hover .thumb .overlay-bg {
  opacity: 0.85;
}

.thumb .overlay-bg {
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (prefers-reduced-motion: reduce) {
  .thumb .overlay-bg {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.resume-item {
  padding: 20px;
  background: #fff;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
  border: 4px solid transparent;
}
.resume-item:hover,
.resume-item:focus {
  border: 4px solid #ff9f55;
  -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
}
.resume-item .date {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #b3bdc6;
  text-transform: uppercase;
}
.resume-item .school {
  display: block;
  font-size: 20px;
}
.resume-item h3,
.resume-item .school {
  color: #2c3e50;
}

.blog-entry {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.blog-entry:hover,
.blog-entry:active,
.blog-entry:focus {
  -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
  top: -2px;
}
.blog-entry .blog-entry-text {
  border-top: none;
  padding: 30px;
}
.blog-entry .blog-entry-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.blog-entry .blog-entry-text h3 a {
  color: #2c3e50;
}
.blog-entry .blog-entry-text h3 a:hover {
  color: #57d131;
}
.blog-entry .meta {
  font-size: 14px;
}
.blog-entry .meta a {
  display: inline-block;
  margin-right: 10px;
  color: #96a3b0;
}
.blog-entry .meta a:hover {
  color: #57d131;
}

.form-control {
  border: none !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
}

.site-form .form-control {
  border: 1px solid #b3bdc6;
}

.site-contact-details,
.site-contact-details li {
  padding: 0;
  margin: 0;
}

.site-contact-details li {
  list-style: none;
  margin-bottom: 20px;
}
.site-contact-details li > span {
  color: #2c3e50;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.img-profile {
  width: 150px; /* Smaller and equal width and height make it circular */
  height: 150px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  display: block; /* Ensures the image is block level to center correctly */
  margin: 0 auto 20px; /* Centers the image and adds space below */
}

.profile-info h3 {
  text-align: center; /* Center aligns the text */
  margin: 0.5em 0; /* Adds top and bottom margin */
  color: #333; /* Dark gray for better readability, adjust as needed */
}

.site-footer {
  padding: 1em 0;
  width: 100%;
}
.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer .social-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #b3bdc6;
  position: relative;
  border-radius: 50%;
  font-size: 22px;
  margin: 0 10px;
}
.site-footer .social-item > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-47 .block-47-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  display: block;
}
.block-47 .block-47-image img {
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.block-47 .block-47-quote {
  margin-left: 40px;
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}
.block-47 .block-47-quote:before {
  content: '';
  border: 1px solid #ff9f55;
  z-index: 2;
  position: absolute;
  left: -15px;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}
.block-47 .block-47-quote .block-47-quote-author {
  font-size: 14px;
  color: #666666;
}
