<li>
  Presented <strong>PROGnosticator</strong> (PhD paper) at
  <a href="https://www.linkedin.com/posts/yeaseen-arafat_fse2026-activity-7481485416244596736-PLVV?utm_source=share&utm_medium=member_desktop&rcm=ACoAACFYeLcBBM6utlM-N2eLfQ39hfvOAAMr-JQ" target="_blank" rel="noopener">
    FSE 2026 (Montreal)
  </a>
</li>

<li>
  <a href="https://futures.cs.utah.edu/papers/25ACSAC.pdf" target="_blank" rel="noopener">TeTRIS</a> featured in the Go2Hx dev community:
  [<a href="https://community.haxe.org/t/go2hx-work-in-progress/2821/24#p-14532-research-paper-review-1" target="_blank" rel="noopener">discussion thread</a>]
</li>

<li>
  Presented <strong>TeTRIS</strong> (PhD paper) at
  <a href="https://www.linkedin.com/feed/update/urn:li:activity:7407179531997908992/" target="_blank" rel="noopener">
    ACSAC 2025 (Hawaii)
  </a>
</li>

<li>
  Contribution landed in the official release of <a href="https://nodejs.org/en/blog/release/v25.4.0" target="_blank" rel="noopener">Node.js (v25.4.0)</a>
</li>

<li>
  Received my <strong>MS</strong> in Computer Science from the University of Utah
</li>

<li>
  Artifact Evaluation Committee Member –
  <a href="https://www.acsac.org/" target="_blank" rel="noopener">
    ACSAC 2025
  </a>
</li>

<li>
  My work <a href="https://futures.cs.utah.edu/papers/25ACSAC.pdf" target="_blank" rel="noopener">TeTRIS</a> accepted in
  <a href="https://www.acsac.org/2025/program/papers/" target="_blank" rel="noopener">ACSAC 2025</a>
</li>

<li>
  Research poster presentation –
  <a href="https://www.linkedin.com/feed/update/urn:li:activity:7298880323461754880/" target="_blank" rel="noopener">
    KSoC Grad Visit Day 2025
  </a>
</li>

<li>
  Contribution landed into <a href="https://github.com/immunant/c2rust/releases/tag/v0.20.0" target="_blank" rel="noopener">C2Rust (v0.20.0)</a>.
</li>

<li>
  Conference attendee –
  <a href="https://kccncna2024.sched.com/" target="_blank" rel="noopener">
    KubeCon+CloudNativeCon North America 2024
  </a>
  (<a href="https://www.linkedin.com/feed/update/urn:li:activity:7262146806313082880/" target="_blank" rel="noopener">highlights</a>)
</li>

<li>
  Artifact Evaluation Committee Member –
  <a href="https://www.sigsac.org/ccs/CCS2024/organization/ae-committee.html" target="_blank" rel="noopener">
    ACM CCS 2024
  </a>
</li>

<li>
  Member, Cybersecurity Club – University of Utah
  <a href="https://utahsec.com/" target="_blank" rel="noopener">[utahsec]</a>
</li>

<li>
  Organizing Committee Member –
  <a href="https://www.facebook.com/icpcdhaka2019/" target="_blank" rel="noopener">
    ACM ICPC Asia Regional (Dhaka Site) 2019
  </a>
</li>
