<div class="card resume-item mb-2">
  <div class="resume-pub">

    <div class="pub-title">
      PROGnosticator: Testing Source-to-Source Code Translators via Construct-oriented Fuzzing.
    </div>

    <div class="pub-authors">
      <span class="pub-me">Yeaseen Arafat</span>, and Stefan Nagy.
    </div>

    <div class="pub-venue">
       ACM International Conference on the Foundations of Software Engineering (<a href="https://conf.researchr.org/home/fse-2026" target="_blank">FSE 2026</a>).
      
      <span class="special-btn" style="display: inline"> 
      <a href="https://doi.org/10.1145/3797135" target="_blank" > <button type="button" class="btn btn-outline-info">doi</button> </a> 
      <a href="https://futures.cs.utah.edu/papers/26FSE-a.pdf" target="_blank"> <button type="button" class="btn btn-outline-info">pdf</button> </a>
      <!-- <a href="https://youtu.be/BNUqSbfpMlk" target="_blank"> <button type="button" class="btn btn-outline-info">talk</button> </a>  -->
      <a href="https://futures.cs.utah.edu/papers/26FSE-a_slides.pdf" target="_blank"> <button type="button" class="btn btn-outline-info"> slides </button> </a> 
      <a href="https://github.com/FuturesLab/PROGnosticator" target="_blank" > <button type="button" class="btn btn-outline-info">code</button> </a>
      </span>

    </div>

  </div>
</div>