<div class="card resume-item mb-2">
  <div class="resume-pub">

    <div class="pub-title">
      TeTRIS: General-purpose Fuzzing for Translation Bugs in Source-to-Source Code Transpilers.
    </div>

    <div class="pub-authors">
      <span class="pub-me">Yeaseen Arafat</span>, and Stefan Nagy.
    </div>

    <div class="pub-venue">
       Annual Computer Security Applications Conference (<a href="https://www.acsac.org/" target="_blank">ACSAC 2025</a>).
      
      <span class="special-btn" style="display: inline"> 
      <a href="https://ieeexplore.ieee.org/document/11391838" target="_blank" > <button type="button" class="btn btn-outline-info">doi</button> </a> 
      <a href="https://futures.cs.utah.edu/papers/25ACSAC.pdf" target="_blank"> <button type="button" class="btn btn-outline-info">pdf</button> </a>
      <!-- <a href="https://youtu.be/BNUqSbfpMlk" target="_blank"> <button type="button" class="btn btn-outline-info">talk</button> </a>  -->
      <a href="https://futures.cs.utah.edu/papers/25ACSAC_slides.pdf" target="_blank"> <button type="button" class="btn btn-outline-info"> slides </button> </a> 
      <a href="https://github.com/FuturesLab/TeTRIS" target="_blank" > <button type="button" class="btn btn-outline-info">code</button> </a>
      </span>

    </div>

  </div>
</div>