<div class="resume-item mb-2">
          <div class="d-inline">
            <h4
              style="
                font-family: Verdana;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
                margin-bottom: 0;
                display: inline;
              "
            >
              <u><i>Yeaseen Arafat</i></u
              > and Stefan Nagy.
              <b
                ><i
                  >TeTRIS: General-purpose Fuzzing for Translation Bugs in Source-to-Source Code Transpilers.</i
                ></b
              >
              Annual Computer Security Applications Conference 
              (<a
                href="https://www.acsac.org/"
                target="_blank"
                >ACSAC 2025</a
              >), December 8-12, Hawaii, USA.
            </h4>

            <!-- Buttons immediately follow the text -->
        <!-- 
            <span class="special-btn" style="display: inline">
              <a
                href="https://dl.acm.org/doi/10.1145/3428363.3428377"
                target="_blank"
              >
                <button type="button" class="btn btn-outline-info">doi</button>
              </a>
              <a href="images/nsys20/NSysS_2020.pdf" target="_blank">
                <button type="button" class="btn btn-outline-info">pdf</button>
              </a>
              <a href="https://youtu.be/BNUqSbfpMlk" target="_blank">
                <button type="button" class="btn btn-outline-info">talk</button>
              </a>
              <a href="images/nsys20/PID14.pdf" target="_blank">
                <button type="button" class="btn btn-outline-info">
                  slides
                </button>
              </a>
              <a
                href="https://github.com/Yeaseen/Networking_Simulator2_Project"
                target="_blank"
              >
                <button type="button" class="btn btn-outline-info">code</button>
              </a>
            </span>
        -->
    </div>
</div>