    <div class="row resume-item mb-2">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">Amazon Echo : Home automation</h3>
        <h6 class="mb-3 font-weight-bold">
          Platform: Raspberry Pi 3, Amazon Alexa, Node ESP8266
        </h6>

        <div class="lead">
          <h3>
            Voice assistants are gaining popularity in the current era of AI and
            IoT-based systems. This technology allows users to remotely control
            lights and fans. In this project, we implemented voice-controlled
            home automation using Amazon Alexa on Raspberry Pi 3 and the ESP8266
            node module.
          </h3>

          <ul class="site-list">
            <li class="site-check">
              Remote voice controlled system is available in the system.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <iframe
          width="360"
          height="230"
          src="https://www.youtube.com/embed/4255TvFni3w"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>