<div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">Angry Birds : A casual game</h3>
        <h6 class="mb-3 font-weight-bold">Language: C , Platform: iGraphics</h6>
        <div class="lead">
          <h3>
            This project involved creating a laid-back puzzle video game
            inspired by an Android game sharing the same title. Developed as
            part of the term project assignment for the C Programming Language
            Sessional course (CSE102) at the Department of Computer Science and
            Engineering (CSE), BUET, the game was implemented in C & C++ using
            iGraphics for the graphical user interface (GUI).
          </h3>
          <ul class="site-list">
            <li class="site-check">
              An extandable multilevel game within a fancy sound sytem.
            </li>
            <li class="site-check">
              Providing life lines and saved high score system.
            </li>
          </ul>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/AngryBirds_Igraphics"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-4">
        <img class="img-fluid" src="images/igraphicsProject.gif" alt="" />
      </div>
    </div>
