<div class="row resume-item mb-2">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">CyberShield-spectrum</h3>
        <h6 class="mb-3 font-weight-bold">Tools: Burp Suit, Snort, Sysmon, Wireshark, Tcpdump and Volatility3</h6>
        <div class="lead">
          <h3>
            This project simulates a complete cybersecurity environment for learning ethical hacking and defense.
            It involves building a virtual network, performing penetration testing, configuring firewalls and VPNs, 
            and deploying intrusion detection systems. It also covers threat hunting and digital forensics using tools 
            like Snort, Sysmon, and Volatility3, providing hands-on experience across the full cyber defense lifecycle.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/CyberShield-spectrum" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/cybershield.png" alt="" />
      </div>
    </div>
