<div class="row resume-item mb-2">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">DDD: Drunk Driver Detector</h3>
        <h6 class="mb-3 font-weight-bold">
          Platform: Node ESP8266, MQ-5, DC Motor, LCD
        </h6>

        <div class="lead">
          <h3>
            This project aims to identify alcoholic drivers to prevent avoidable
            accidents. We have developed a system incorporating an MQ-5 gas
            sensor capable of detecting alcohol gas. When alcohol is detected, a
            green signal is illuminated at the rear of the LED. In our
            representation, we consider a motor as a vehicle. If the sensor
            registers any alcohol gas, this information is displayed on the LCD,
            and the system initiates a motor block. Essentially, this system
            serves as a detector for drivers under the influence of alcohol.
          </h3>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/Micro-controller-Project"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <iframe
          width="360"
          height="230"
          src="https://www.youtube.com/embed/bylCauMjnZk"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
