<div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">EduCComp: A subset of C compiler</h3>
        <h6 class="mb-3 font-weight-bold">Tools: Flex, Bison, Yacc</h6>
        <div class="lead">
          <h3>
            Within this project, I developed a comprehensive subset of a C
            compiler, crafting a SymbolTable data structure, Lexical Analyzer,
            Syntax Analyzer, Semantic Analyzer, and Intermediate Code Generator.
            Additionally, I implemented Directed Acyclic Graphs (DAG) and
            Three-Address Code (TAC) for handling simple expressions in C++,
            utilizing Flex and Yacc-Bison as part of the CSE310 assignment at
            the Department of Computer Science and Engineering, BUET.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/EduCComp" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/compiler.jpg" alt="" />
      </div>
    </div>
