<div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">EventPlanner : To manage events</h3>
        <h6 class="mb-3 font-weight-bold">Platform: MERNG Stack</h6>
        <div class="lead">
          <h3>
            This repository aims to create a Single Page Event Management
            application using the MERNG stack. It encompasses the development of
            a GraphQL-based backend API using Node.js and Express.js,
            incorporating JWT-based authentication. On the client side, React
            Typescript is employed, utilizing React Hooks, Context API for state
            management, React Router Hooks, and implementing route/endpoint
            protection.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/EventBooking_SPA_MERNG"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
          <a
            style="margin-left: 5em"
            href="https://yeventplanner.herokuapp.com/auth"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              live
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/eventplanner.gif" alt="" />
      </div>
    </div>