<div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">IInstagram : Social media</h3>
        <h6 class="mb-3 font-weight-bold">Platform: MERN Stack</h6>

        <div class="lead">
          <h3>
            The objective of this project is to construct a comprehensive
            INSTAGRAM alike website utilizing the MERN stack. The scope includes
            the creation of a backend API using Node.js & Express.js,
            implementing JWT-based authentication, enabling image uploads to the
            cloud, employing Context API for state management, integrating React
            Hooks and React Router Hooks, securing routes/endpoints,
            implementing email communication, and incorporating features for
            password recovery and reset.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/IInstagram_MERN_STACK_Project"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
          <a
            style="margin-left: 5em"
            href="https://iinstagram-clone.herokuapp.com/signin"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              live
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/iinstagram.gif" alt="" />
      </div>
    </div>