<div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">ML Projects</h3>
        <h6 class="mb-3 font-weight-bold">Tools: python</h6>
        <div class="lead">
          <h3>
            This repo covers the scratch-implementation of pattern recognition
            models and some renowned ML models. The assignments of CSE472 &
            CSE474 at BUET.
          </h3>
          <ul class="site-list">
            <li class="site-check">
              Decision Tree(ID3) with AdaBoost for Classification
            </li>
            <li class="site-check">
              Dimensionality Reduction using PCA and Clustering using EM
              Algorithm
            </li>
            <li class="site-check">
              Matrix Factorization for Recommender System
            </li>
            <li class="site-check">
              Binary and Multiclass Perceptrons, Artifical Neural Network
            </li>
            <li class="site-check">Channel Equalization, Template Maching</li>
          </ul>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/ML_Pattern" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/ml.png" alt="" />
      </div>
    </div>
