<div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">ADD &nbsp;Nachos, OS_Features</h3>
        <h6 class="mb-3 font-weight-bold">Tools: C++, Make</h6>
        <div class="lead">
          <h3>
            The OS-Build project is an expansion of Nachos, a UNIX-like
            operating system developed for educational purposes during my time
            in the OS Lab at BUET. The enhanced Nachos includes a) the
            integration of a consumer-producer program, b) the implementation of
            basic multiprogramming capabilities through System Calls [Exec,
            Exit, Read, Write], and c) a Virtual Memory Manager supported by
            Demand Paging and Page Replacement procedures, including Random
            Replacement and LRU Replacement without a Swapfile, and with
            SwapFile.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/nachos-os_build" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/nachos.png" alt="" />
      </div>
    </div>