<div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">
          Play & Learn : All about cognition
        </h3>
        <h6 class="mb-3 font-weight-bold">Platform: Android Native</h6>
        <div class="lead">
          <h3>
            I've developed a straightforward Android app designed for
            individuals facing developmental disorders. This app facilitates
            learning through play, incorporating an alert system to provide
            timely notifications for crucial tasks. There's significant
            potential to expand this version to incorporate various other ideas.
          </h3>
          <ul class="site-list">
            <li class="site-check">
              Multilevel modes of learning with attracting sound system for the
              children.
            </li>
            <li class="site-check">
              Can be extended to parental monitoring system.
            </li>
          </ul>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/Play_Learn_Android_App"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/play_learn.gif" alt="" />
      </div>
    </div>
