<div class="row resume-item mb-2">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">My Shopping Cart</h3>
        <h6 class="mb-3 font-weight-bold">Platform: React reducers, TypeScript</h6>

        <div class="lead">
          <h3>
            This project is a React and TypeScript-based shopping cart application that demonstrates modern 
            state management using Context API and reducers. It integrates a secure Stripe payment system for 
            seamless checkout. The app also preserves cart and user states through SessionStorage, 
            ensuring data persistence across sessions for an improved shopping experience.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/my-shopping-cart"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
          <a
            style="margin-left: 5em"
            href="https://yeaseen.github.io/my-shopping-cart/"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              live
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/shopping_cart.gif" alt="" />
      </div>
</div>