<div class="row resume-item mb-2">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">yeaseen's-weather-app</h3>
        <h6 class="mb-3 font-weight-bold">Platform: React</h6>
        <div class="lead">
          <h3>
            This is a simple react app which gives a viewer current weather's
            vectors and forecasts of every 3 hours for the next five days based
            on your selected country and region. Among the vectors, current
            weather status, temperature, humidity and feels like are
            mentionworthy. To get the accurate data, OpenwWeather's specific
            rest apis have been used.
          </h3>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/my-weather-app" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
          <a
            style="margin-left: 5em"
            href="https://yeaseen.github.io/my-weather-app/"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              live
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-4">
        <img class="img-fluid" src="images/weather.gif" alt="" />
      </div>
    </div>
