<section class="site-section bg-light" id="section-activities">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2><strong>Activities</strong></h2>
        </div>

        <div class="col-md-12 lead">
          <h5>Outreach Activities</h5>

          <ul>
            <h3>
              <li>
                Research Poster Presentation -
                <a
                  href="https://www.linkedin.com/feed/update/urn:li:activity:7298880323461754880/"
                  target="_blank"
                  >KSoC Grad Visit Day 2025</a
                >
              </li>
              <li>
                Artifact Evaluation Committee Member -
                <a
                  href="https://www.sigsac.org/ccs/CCS2024/organization/ae-committee.html"
                  target="_blank"
                  >ACM CCS 2024</a
                >
              </li>
              <li>
                Conference Attendee -
                <a href="https://kccncna2024.sched.com/" target="_blank"
                  >KubeCon+CloudNativeCon North America 2024</a
                >
                - See
                <a
                  href="https://www.linkedin.com/feed/update/urn:li:activity:7262146806313082880/"
                  target="_blank"
                  style="color: #0056b3"
                  >my highlights</a
                >
              </li>
              <li>
                Organizing Committee Member -
                <a
                  href="https://www.facebook.com/icpcdhaka2019/"
                  target="_blank"
                  >ACM ICPC ASIA Regional, Dhaka Site 2019</a
                >
              </li>
              <li>
                Member, Cybersecurity Club - University of Utah
                <a href="https://utahsec.com/" target="_blank">[utahsec]</a>
              </li>
            </h3>
          </ul>

          <h5>Open Source Contributions</h5>
          <ul>
            <h3>
              <li>
                Responsible Vulnerability Discovery in an Android Mobile Banking
                App in Bangladesh :
                <a
                  href="https://github.com/Yeaseen/vuln_discovery_0"
                  target="_blank"
                  >Project Details</a
                >
              </li>
              <li>
                Merged PRs in:
                <ul>
                  <li>
                    <a
                      href="https://github.com/llvm/llvm-project"
                      target="_blank"
                      >llvm-project</a
                    >
                    <span class="badgePR"
                      ><i class="fas fa-code-branch"></i></span
                    >:
                    <a
                      href="https://github.com/llvm/llvm-project/pull/123889"
                      target="_blank"
                      >#123889</a
                    >
                    •
                    <a
                      href="https://github.com/llvm/llvm-project/pull/125460"
                      target="_blank"
                      >#125460</a
                    >
                    •
                    <a
                      href="https://github.com/llvm/llvm-project/pull/126811"
                      target="_blank"
                      >#126811</a
                    >
                    •
                    <a
                      href="https://github.com/llvm/llvm-project/pull/127368"
                      target="_blank"
                      >#127368</a
                    >
                    •
                    <a
                      href="https://github.com/llvm/llvm-project/pull/128272"
                      target="_blank"
                      >#128272</a
                    >
                  </li>
                  <li>
                    <a href="https://github.com/immunant/c2rust" target="_blank"
                      >c2rust
                    </a>
                    <span class="badgePR"
                      ><i class="fas fa-code-branch"></i></span
                    >:
                    <a
                      href="https://github.com/immunant/c2rust/pull/1185"
                      target="_blank"
                      >#1185</a
                    >
                    •
                    <a
                      href="https://github.com/immunant/c2rust/pull/1188"
                      target="_blank"
                      >#1188</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://github.com/gotranspile/cxgo"
                      target="_blank"
                      >cxgo</a
                    >
                    <span class="badgePR"
                      ><i class="fas fa-code-branch"></i></span
                    >:
                    <a
                      href="https://github.com/gotranspile/cxgo/pull/73"
                      target="_blank"
                      >#73</a
                    >
                  </li>
                  <li>
                    <a href="https://github.com/s3team/Polyglot" target="_blank"
                      >Polyglot</a
                    >
                    <span class="badgePR"
                      ><i class="fas fa-code-branch"></i></span
                    >:
                    <a
                      href="https://github.com/s3team/Polyglot/pull/10"
                      target="_blank"
                      >#10</a
                    >
                  </li>
                  <li>
                    <a href="https://github.com/ableinc/git2txt" target="_blank"
                      >git2txt</a
                    >
                    <span class="badgePR"
                      ><i class="fas fa-code-branch"></i></span
                    >:
                    <a
                      href="https://github.com/ableinc/git2txt/pull/2"
                      target="_blank"
                      >#2</a
                    >
                  </li>
                </ul>
              </li>

              <li>
                Identified and reported critical bugs (previously
                <span style="color: red; font-weight: bold">unknown</span>
                and
                <span style="color: green; font-weight: bold">confirmed</span>)
                in the following applications:
                <ul>
                  <li>
                    <a href="https://github.com/immunant/c2rust" target="_blank"
                      >c2rust</a
                    >
                    <span class="badge"><i class="fas fa-bug"></i></span> --
                    GitHub Issues:
                    <a
                      href="https://github.com/immunant/c2rust/issues/1165"
                      target="_blank"
                      >#1165</a
                    >
                    •
                    <a
                      href="https://github.com/immunant/c2rust/issues/1166"
                      target="_blank"
                      >#1166</a
                    >
                    •
                    <a
                      href="https://github.com/immunant/c2rust/issues/1167"
                      target="_blank"
                      >#1167</a
                    >
                    •
                    <a
                      href="https://github.com/immunant/c2rust/issues/1168"
                      target="_blank"
                      >#1168</a
                    >
                    •
                    <a
                      href="https://github.com/immunant/c2rust/issues/1171"
                      target="_blank"
                      >#1171</a
                    >
                    •
                    <a
                      href="https://github.com/immunant/c2rust/issues/1184"
                      target="_blank"
                      >#1184</a
                    >
                    •
                    <a
                      href="https://github.com/immunant/c2rust/issues/1201"
                      target="_blank"
                      >#1201</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://github.com/gotranspile/cxgo"
                      target="_blank"
                      >cxgo</a
                    >
                    <span class="badge"><i class="fas fa-bug"></i></span> --
                    GitHub Issues:
                    <a
                      href="https://github.com/gotranspile/cxgo/issues/77"
                      target="_blank"
                      >#77</a
                    >
                    •
                    <a
                      href="https://github.com/gotranspile/cxgo/issues/76"
                      target="_blank"
                      >#76</a
                    >
                    •
                    <a
                      href="https://github.com/gotranspile/cxgo/issues/75"
                      target="_blank"
                      >#75</a
                    >
                    •
                    <a
                      href="https://github.com/gotranspile/cxgo/issues/78"
                      target="_blank"
                      >#78</a
                    >
                    •
                    <a
                      href="https://github.com/gotranspile/cxgo/issues/80"
                      target="_blank"
                      >#80</a
                    >
                    •
                    <a
                      href="https://github.com/gotranspile/cxgo/issues/81"
                      target="_blank"
                      >#81</a
                    >
                    •
                    <a
                      href="https://github.com/gotranspile/cxgo/issues/79"
                      target="_blank"
                      >#79</a
                    >
                  </li>
                  <li>
                    <a href="https://github.com/go2hx/go2hx" target="_blank"
                      >go2hx</a
                    >
                    <span class="badge"><i class="fas fa-bug"></i></span> --
                    GitHub Issues:
                    <a
                      href="https://github.com/go2hx/go2hx/issues/179"
                      target="_blank"
                      >#179</a
                    >
                    •
                    <a
                      href="https://github.com/go2hx/go2hx/issues/178"
                      target="_blank"
                      >#178</a
                    >
                    •
                    <a
                      href="https://github.com/go2hx/go2hx/issues/183"
                      target="_blank"
                      >#183</a
                    >
                    •
                    <a
                      href="https://github.com/go2hx/go2hx/issues/184"
                      target="_blank"
                      >#184</a
                    >
                    •
                    <a
                      href="https://github.com/go2hx/go2hx/issues/185"
                      target="_blank"
                      >#185</a
                    >
                    •
                    <a
                      href="https://github.com/go2hx/go2hx/issues/186"
                      target="_blank"
                      >#186</a
                    >
                    •
                    <a
                      href="https://github.com/go2hx/go2hx/issues/187"
                      target="_blank"
                      >#187</a
                    >
                    •
                    <a
                      href="https://github.com/go2hx/go2hx/issues/188"
                      target="_blank"
                      >#188</a
                    >
                  </li>
                  <li>
                    <a href="https://github.com/ziglang/zig" target="_blank"
                      >zig translate-C</a
                    >
                    <span class="badge"><i class="fas fa-bug"></i></span> --
                    GitHub Issues:
                    <a
                      href="https://github.com/ziglang/zig/issues/21876"
                      target="_blank"
                      >#21876</a
                    >
                    •
                    <a
                      href="https://github.com/ziglang/zig/issues/22045"
                      target="_blank"
                      >#22045</a
                    >
                    •
                    <a
                      href="https://github.com/ziglang/zig/issues/22136"
                      target="_blank"
                      >#22136</a
                    >
                    •
                    <a
                      href="https://github.com/ziglang/zig/issues/22139"
                      target="_blank"
                      >#22139</a
                    >
                    •
                    <a
                      href="https://github.com/ziglang/zig/issues/22148"
                      target="_blank"
                      >#22148</a
                    >
                    •
                    <a
                      href="https://github.com/ziglang/zig/issues/21855"
                      target="_blank"
                      >#21855</a
                    >
                    •
                    <a
                      href="https://github.com/ziglang/zig/issues/22964"
                      target="_blank"
                      >#22964</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://github.com/Konstantin8105/c4go"
                      target="_blank"
                      >c4go</a
                    >
                    <span class="badge"><i class="fas fa-bug"></i></span> --
                    GitHub Issues:
                    <a
                      href="https://github.com/Konstantin8105/c4go/issues/516"
                      target="_blank"
                      >#516</a
                    >
                    •
                    <a
                      href="https://github.com/Konstantin8105/c4go/issues/515"
                      target="_blank"
                      >#515</a
                    >
                  </li>

                  <li>
                    <a href="https://github.com/s3team/Polyglot" target="_blank"
                      >Polyglot</a
                    >
                    <span class="badge"><i class="fas fa-bug"></i></span> --
                    GitHub Issue:
                    <a
                      href="https://github.com/s3team/Polyglot/issues/9"
                      target="_blank"
                      >#9</a
                    >
                  </li>
                </ul>
              </li>
            </h3>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
