<section class="site-section bg-light" id="section-home">
  <div class="container" style="margin-top: 60px">
    <div class="row mb-12 align-items-center">
      <div class="col-xl-4 pr-lg-5 mb-5 mb-lg-0">
        <img
          src="images/image_1_long.jpg"
          alt="Profile Image"
          class="img-fluid img-profile"
        />
        <div class="profile-info lead">
          <h3>Yeaseen Arafat</h3>
          <h3>S/W Security • Fuzzing • Generative AI</h3>
          <h3>
            <a href="mailto:yeaseen.arafat96@gmail.com"
              >yeaseen DOT arafat96 AT gmail DOT com</a
            >
          </h3>
        </div>
        <div class="site-footer text-center">
          <a
            target="_blank"
            href="https://scholar.google.com/citations?user=FM29QSsAAAAJ&hl=en"
            class="social-item"
            ><span class="icon-google2"></span
          ></a>
          <a
            target="_blank"
            href="https://github.com/Yeaseen"
            class="social-item"
            ><span class="icon-github"></span
          ></a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/yeaseen-arafat-707435137/"
            class="social-item"
            ><span class="icon-linkedin2"></span
          ></a>
        </div>
      </div>

      <div class="col-xl-8 pl-lg-5">
        <div class="about-me lead">
          <h2>About <strong>Me</strong></h2>
          <h4>
            A first-year
            <a href="https://faculty.utah.edu/~yeaseen" target="_blank"
              >PhD Student</a
            >
            in Computer Science at the
            <a href="https://www.cs.utah.edu/">Kahlert School of Computing</a>
            of
            <a href="https://www.utah.edu/">The University of Utah</a> under the
            supervision of
            <a href="https://users.cs.utah.edu/~snagy/">Dr. Stefan Nagy</a>
            in his <a href="https://futures.cs.utah.edu/">FuTURES³ Lab</a>, I am
            interested in Systems and Software Security, specifically in
            exploring
            <strong
              >how AI, particularly Generative AI, can scientifically advance
              software security over automated software testing
              (fuzzing).</strong
            >
            My current research focuses on building a framework to amplify the
            correctness of compilers, decompilers, and transpilers by
            discovering bugs and their root causes. This work integrates both
            traditional and Generative AI methods to enhance the reliability and
            security of programming language processors. Besides, I play, plus
            create
            <a href="https://github.com/Yeaseen/my_ctf_writeups">write-ups</a>
            of, CTFs and Wargames regarding Linux Privilege Escalation, Binary
            Exploitation, and Web and Network Systems. An active open source
            software (OSS) project contributor, I engage in various projects
            where I apply my skills to enhance software functionalities and
            security.
            <a href="/activities">Check out my activities.</a>
          </h4>
        </div>
        <div class="about-me lead">
          <h4>
            Before this, I served as a
            <a
              href="https://new.seu.edu.bd/employee/profile/MDAzMDc5"
              target="_blank"
              >Lecturer</a
            >
            from 2019 to 2023 at the
            <a href="https://new.seu.edu.bd/" target="_blank"
              >Department of Computer Science, Southeast University</a
            >, and am currently on a study leave. Long before that, I had earned
            my BSc Engg. degree in 2019 from the
            <a href="https://cse.buet.ac.bd/"
              >Department of Computer Science and Engineering, Bangladesh
              University of Engineering & Technology (BUET)</a
            >.
          </h4>
        </div>
        <div
          class="about-me lead"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <h4>
            In the Twilight Zone, Last Bizarre Location: SLC, UT
            <span class="timezone">[UTC-0700]</span>
          </h4>
          <h4 style="margin-left: auto">
            Status:
            <img
              id="build-status"
              class="keepalive"
              src="https://img.shields.io/badge/yeaseen-mehzabin-purple.svg"
              alt="build:ok"
              title="build:ok"
            />
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
