<section class="site-section bg-light" id="section-expertise">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-3 mb-3">
        <div class="section-heading">
          <h2>My <strong>Expertise</strong></h2>
        </div>
      </div>
      <div class="col-md-9">
        <div class="lead">
          <h3>
            <strong>Programming Language:</strong> C, C++, Python, Java,
            Typescript, Javascript, x86 Assembly, Wasm
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Security Tools:</strong> AFL, AFL++, Burp Suite, sqlmap,
            Havij, Snort
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Frameworks:</strong> React, Node.js, Express.js, Android
            Native, JavaFX, Java Swing
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Data Science & ML/DL:</strong> Tensorflow, Keras, NumPy,
            scikit-learn, Pandas, Matplotlib
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Database:</strong> MongoDB, Neo4j, Oracle SQL, MySQL
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Networking tools:</strong> ns-2, Wireshark, tcpdump,
            Packet Tracer
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>DevOps & PaaS:</strong> GitHub, Docker, REST API,
            GraphQL, Heroku
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Blockchain tech:</strong> Ethereum, Smart Contracts,
            Solidity, Truffle Suite
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Linux:</strong> System configuration, Linux Firewall,
            Shell scripting, Privilege Escalation
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>RE tools:</strong> ghidra, Pwndbg, checksec, Ropper
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Other tools:</strong> Nachos, Makefile, Latex, Flex,
            Bison, YACC
          </h3>
        </div>
        <div class="lead">
          <h3>
            <strong>Digital System Design:</strong> MIPS, Logisim, Arduino,
            Node MCU, ATMega32, RaspberryPi 3
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
