<section class="site-section bg-light" id="section-projects">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>NOTABLE <strong>Projects</strong></h2>
        </div>
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">IInstagram : Social media</h3>
        <h6 class="mb-3 font-weight-bold">Platform: MERN Stack</h6>

        <div class="lead">
          <h3>
            The objective of this project is to construct a comprehensive
            INSTAGRAM alike website utilizing the MERN stack. The scope includes
            the creation of a backend API using Node.js & Express.js,
            implementing JWT-based authentication, enabling image uploads to the
            cloud, employing Context API for state management, integrating React
            Hooks and React Router Hooks, securing routes/endpoints,
            implementing email communication, and incorporating features for
            password recovery and reset.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/IInstagram_MERN_STACK_Project"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
          <a
            style="margin-left: 5em"
            href="https://iinstagram-clone.herokuapp.com/signin"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              live
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/iinstagram.gif" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">EduCComp: A subset of C compiler</h3>
        <h6 class="mb-3 font-weight-bold">Tools: Flex, Bison, Yacc</h6>
        <div class="lead">
          <h3>
            Within this project, I developed a comprehensive subset of a C
            compiler, crafting a SymbolTable data structure, Lexical Analyzer,
            Syntax Analyzer, Semantic Analyzer, and Intermediate Code Generator.
            Additionally, I implemented Directed Acyclic Graphs (DAG) and
            Three-Address Code (TAC) for handling simple expressions in C++,
            utilizing Flex and Yacc-Bison as part of the CSE310 assignment at
            the Department of Computer Science and Engineering, BUET.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/EduCComp" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/compiler.jpg" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">EventPlanner : To manage events</h3>
        <h6 class="mb-3 font-weight-bold">Platform: MERNG Stack</h6>
        <div class="lead">
          <h3>
            This repository aims to create a Single Page Event Management
            application using the MERNG stack. It encompasses the development of
            a GraphQL-based backend API using Node.js and Express.js,
            incorporating JWT-based authentication. On the client side, React
            Typescript is employed, utilizing React Hooks, Context API for state
            management, React Router Hooks, and implementing route/endpoint
            protection.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/EventBooking_SPA_MERNG"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
          <a
            style="margin-left: 5em"
            href="https://yeventplanner.herokuapp.com/auth"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              live
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/eventplanner.gif" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">ADD &nbsp;Nachos, OS_Features</h3>
        <h6 class="mb-3 font-weight-bold">Tools: C++, Make</h6>
        <div class="lead">
          <h3>
            The OS-Build project is an expansion of Nachos, a UNIX-like
            operating system developed for educational purposes during my time
            in the OS Lab at BUET. The enhanced Nachos includes a) the
            integration of a consumer-producer program, b) the implementation of
            basic multiprogramming capabilities through System Calls [Exec,
            Exit, Read, Write], and c) a Virtual Memory Manager supported by
            Demand Paging and Page Replacement procedures, including Random
            Replacement and LRU Replacement without a Swapfile, and with
            SwapFile.
          </h3>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/nachos-os_build" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/nachos.png" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">ML Projects</h3>
        <h6 class="mb-3 font-weight-bold">Tools: python</h6>
        <div class="lead">
          <h3>
            This repo covers the scratch-implementation of pattern recognition
            models and some renowned ML models. The assignments of CSE472 &
            CSE474 at BUET.
          </h3>
          <ul class="site-list">
            <li class="site-check">
              Decision Tree(ID3) with AdaBoost for Classification
            </li>
            <li class="site-check">
              Dimensionality Reduction using PCA and Clustering using EM
              Algorithm
            </li>
            <li class="site-check">
              Matrix Factorization for Recommender System
            </li>
            <li class="site-check">
              Binary and Multiclass Perceptrons, Artifical Neural Network
            </li>
            <li class="site-check">Channel Equalization, Template Maching</li>
          </ul>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/ML_Pattern" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/ml.png" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">Angry Birds : A casual game</h3>
        <h6 class="mb-3 font-weight-bold">Language: C , Platform: iGraphics</h6>
        <div class="lead">
          <h3>
            This project involved creating a laid-back puzzle video game
            inspired by an Android game sharing the same title. Developed as
            part of the term project assignment for the C Programming Language
            Sessional course (CSE102) at the Department of Computer Science and
            Engineering (CSE), BUET, the game was implemented in C & C++ using
            iGraphics for the graphical user interface (GUI).
          </h3>
          <ul class="site-list">
            <li class="site-check">
              An extandable multilevel game within a fancy sound sytem.
            </li>
            <li class="site-check">
              Providing life lines and saved high score system.
            </li>
          </ul>
        </div>
        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/AngryBirds_Igraphics"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-4">
        <img class="img-fluid" src="images/igraphicsProject.gif" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">
          Play & Learn : All about cognition
        </h3>
        <h6 class="mb-3 font-weight-bold">Platform: Android Native</h6>
        <div class="lead">
          <h3>
            I've developed a straightforward Android app designed for
            individuals facing developmental disorders. This app facilitates
            learning through play, incorporating an alert system to provide
            timely notifications for crucial tasks. There's significant
            potential to expand this version to incorporate various other ideas.
          </h3>
          <ul class="site-list">
            <li class="site-check">
              Multilevel modes of learning with attracting sound system for the
              children.
            </li>
            <li class="site-check">
              Can be extended to parental monitoring system.
            </li>
          </ul>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/Play_Learn_Android_App"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/play_learn.gif" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">yeaseen's-weather-app</h3>
        <h6 class="mb-3 font-weight-bold">Platform: React</h6>
        <div class="lead">
          <h3>
            This is a simple react app which gives a viewer current weather's
            vectors and forecasts of every 3 hours for the next five days based
            on your selected country and region. Among the vectors, current
            weather status, temperature, humidity and feels like are
            mentionworthy. To get the accurate data, OpenwWeather's specific
            rest apis have been used.
          </h3>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a href="https://github.com/Yeaseen/my-weather-app" target="_blank">
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
          <a
            style="margin-left: 5em"
            href="https://yeaseen.github.io/my-weather-app/"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              live
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-4">
        <img class="img-fluid" src="images/weather.gif" alt="" />
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">DDD: Drunk Driver Detector</h3>
        <h6 class="mb-3 font-weight-bold">
          Platform: Node ESP8266, MQ-5, DC Motor, LCD
        </h6>

        <div class="lead">
          <h3>
            This project aims to identify alcoholic drivers to prevent avoidable
            accidents. We have developed a system incorporating an MQ-5 gas
            sensor capable of detecting alcohol gas. When alcohol is detected, a
            green signal is illuminated at the rear of the LED. In our
            representation, we consider a motor as a vehicle. If the sensor
            registers any alcohol gas, this information is displayed on the LCD,
            and the system initiates a motor block. Essentially, this system
            serves as a detector for drivers under the influence of alcohol.
          </h3>
        </div>

        <div class="special-btn" style="display: flex; justify-content: center">
          <a
            href="https://github.com/Yeaseen/Micro-controller-Project"
            target="_blank"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              style="min-width: 90px"
            >
              github
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <iframe
          width="360"
          height="230"
          src="https://www.youtube.com/embed/bylCauMjnZk"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row resume-item">
      <div class="col-md-7">
        <h3 class="mb-3 font-weight-bold">Amazon Echo : Home automation</h3>
        <h6 class="mb-3 font-weight-bold">
          Platform: Raspberry Pi 3, Amazon Alexa, Node ESP8266
        </h6>

        <div class="lead">
          <h3>
            Voice assistants are gaining popularity in the current era of AI and
            IoT-based systems. This technology allows users to remotely control
            lights and fans. In this project, we implemented voice-controlled
            home automation using Amazon Alexa on Raspberry Pi 3 and the ESP8266
            node module.
          </h3>

          <ul class="site-list">
            <li class="site-check">
              Remote voice controlled system is available in the system.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <iframe
          width="360"
          height="230"
          src="https://www.youtube.com/embed/4255TvFni3w"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
