<section class="site-section bg-light" id="section-research">
  <div class="container col-md-7">
    <div class="row mb-3">
      <!-- Reduced from mb-4 to mb-3 -->
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2><strong>Research</strong></h2>
        </div>
      </div>
    </div>

    <!-- Publications Section -->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="lead">
          <h5>Publication:</h5>
        </div>
        {% for publication in site.data.publications %}
          {% include publication_card.html publication=publication %}
        {% endfor %}
      </div>
    </div>

    <!-- Posters Section -->
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="lead">
          <h5>Poster:</h5>
        </div>
        {% include posters/tetris_ksoc.html %}

      </div>
    </div>
  </div>
</section>
