<section class="site-section bg-light" id="section-projects">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>NOTABLE <strong>Projects</strong></h2>
        </div>
      </div>
    </div>

    {% include projects/iinstagram.html %}
    {% include projects/cybershield_spectrum.html %}
    {% include projects/educcomp.html %}
    {% include projects/eventplanner.html %}
    {% include projects/nachos.html %}
    {% include projects/ml.html %}
    {% include projects/shopping_cart.html %}
    {% include projects/angrybirds.html %}
    {% include projects/play_learn.html %}
    {% include projects/weather.html %}
    {% include projects/ddd.html %}
    {% include projects/amazon_echo.html %}

  </div>
</section>
