<section class="site-section bg-light" id="section-research">
  <div class="container">
    <div class="row mb-3">
      <!-- Reduced from mb-4 to mb-3 -->
      <div class="col-md-12">
        <div class="text-center">
          <h2><strong>Research</strong></h2>
        </div>
      </div>
    </div>

    <!-- Publications Section -->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="lead">
          <h5>Publication:</h5>
        </div>
        {% include publications/Tetris_ACSAC_25.html %}
        {% include publications/NSysS_20.html %}

      </div>
    </div>

    <!-- Posters Section -->
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="lead">
          <h5>Poster:</h5>
        </div>
        {% include posters/tetris_ksoc.html %}

      </div>
    </div>
  </div>
</section>
