<section class="site-section bg-light" id="section-career">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2><strong>Career</strong></h2>

          <div class="container">
            <div class="tl">
              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>Graduate Research Assistant, The University of Utah</h5>
                    <h3 class="date">May, 2024 — Present</h3>
                  </div>
                  <h3>
                    Kahlert School of Computing, Lab-
                    <a href="https://futures.cs.utah.edu/people" target="_blank"
                      >FuTURES³ Lab</a
                    >
                  </h3>
                </div>
              </div>

              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>Graduate Teaching Assistant, The University of Utah</h5>
                    <h3 class="date">Jan, 2024 — April, 2024</h3>
                  </div>
                  <h3>
                    Course- CS4480: Computer Networks <br />Instructor:
                    <a
                      href="https://rstutsman.github.io/#teaching"
                      target="_blank"
                      >Prof. Ryan Stutsman</a
                    >
                  </h3>
                </div>
              </div>

              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>Graduate Research Fellow, The University of Utah</h5>
                    <h3 class="date">Aug, 2023 — Dec, 2023</h3>
                  </div>
                  <h3>
                    Kahlert School of Computing, Lab-
                    <a href="https://github.com/FuturesLab" target="_blank"
                      >FuTURES³ Lab</a
                    >
                  </h3>
                </div>
              </div>

              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>
                      <a
                        href="https://faculty.utah.edu/~yeaseen"
                        target="_blank"
                        >PhD Student</a
                      >, The University of Utah
                    </h5>
                    <h3 class="date">Aug, 2023 — In Progress</h3>
                  </div>
                  <h3>
                    PhD Advisor-
                    <a href="https://users.cs.utah.edu/~snagy/" target="_blank"
                      >Dr. Stefan Nagy</a
                    >
                  </h3>
                </div>
              </div>

              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>
                      Co-founder & Administrative Director,
                      <a
                        href="https://www.facebook.com/tajafishport/"
                        target="_blank"
                        >FishPortbd</a
                      >
                    </h5>
                    <h3 class="date">Sep, 2022 — Dec, 2023</h3>
                  </div>
                  <h3>Chattogram, Bangladesh</h3>
                </div>
              </div>

              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>
                      <a
                        href="https://new.seu.edu.bd/employee/profile/MDAzMDc5"
                        target="_blank"
                        >Lecturer, Southeast University
                      </a>
                    </h5>
                    <h3 class="date">June, 2019 — July, 2023 (On Leave)</h3>
                  </div>
                  <h3>
                    Dept. of Computer Science & Engineering <br />Dept. Chair-
                    <a
                      href="https://en.wikipedia.org/wiki/Shahriar_Manzoor"
                      target="_blank"
                      >Shahriar Manzoor</a
                    >
                  </h3>
                </div>
              </div>

              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>
                      Undergraduate Student, Bangladesh University of
                      Engineering & Technology
                    </h5>
                    <h3 class="date">Feb, 2015 — Apr, 2019</h3>
                  </div>
                  <h3>
                    Dept. of Computer Science & Engineering <br />Thesis
                    Supervisor-
                    <a
                      href="https://cse.buet.ac.bd/faculty_list/detail/ashikurrahman"
                      target="_blank"
                      >Dr. A.K.M. Ashikur Rahman</a
                    >
                  </h3>
                </div>
              </div>

              <div class="tl-container">
                <div class="tl-content lead">
                  <div class="header">
                    <h5>
                      Technical Support Staff,
                      <a
                        href="https://www.facebook.com/profile.php?id=100068014120661"
                        target="_blank"
                        >Alif Marine & Engineering Services LTD.</a
                      >
                    </h5>
                    <h3 class="date">Jan, 2012 — Dec, 2014</h3>
                  </div>
                  <h3>
                    CEO-
                    <a href="https://alifmarine.net/" target="_blank"
                      >Tajul Islam</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
