<div class="resume-item mb-2">
          <h4
            style="
              font-family: Verdana;
              font-size: 14px;
              font-weight: 500;
              line-height: 1.5;
              margin-bottom: 0;
              display: inline;
            "
          >
            <u><i>Yeaseen Arafat</i></u
            > and Stefan Nagy.
            <b
              ><i
                >TeTRIS: Fuzzing for Code Translation Bugs in Source-to-Source
                Code Transpilers.</i
              ></b
            >
            KSoC Grad Visit Day, Feb 21-22, 2025, University of Utah, Salt Lake
            City, UT.
          </h4>

          <!-- Buttons directly follow the text -->
          <span class="special-btn" style="display: inline">
            <a href="images/posters/TeTRIS.pdf" target="_blank">
              <button type="button" class="btn btn-outline-info">pdf</button>
            </a>
          </span>
  </div>