<div class="card resume-item mb-2">
  <div class="resume-pub">
    
    <div class="pub-title">
      Fuzzing for Code Translation Bugs in Source-to-Source Code Transpilers.
    </div>

    <div class="pub-authors">
      <span class="pub-me">Yeaseen Arafat</span>, and Stefan Nagy.
    </div>

    <div class="pub-venue">
       KSoC Grad Visit Day, University of Utah, 2025.
      <span class="special-btn" style="display: inline"> 
      <a href="images/posters/TeTRIS.pdf" target="_blank"> <button type="button" class="btn btn-outline-info">pdf</button> </a>
      <a href="https://www.linkedin.com/feed/update/urn:li:activity:7298880323461754880/" target="_blank"> <button type="button" class="btn btn-outline-info">talk</button> </a> 
      </span>

    </div>

  </div>
</div>